<!DOCTYPE html>
<html>
{% load static %}
<head>
  <title>Controle de Estoque</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="{% static 'javascript/estoque.js' %}" ></script>

</head>
<body>
  <div id="container">
    <div id="header">
      <h1>Controle de Estoque</h1>      
    </div>
    <div id="footer">
    <p class="footer">ProgramaAção - <a class="footer" href="https://www.programaacao.com.br/home" target="_blank">www.programaacao.com.br</a><span class="footer">versão: 1.0.0</span></p>
    </div>
    <div id="contents">
      <div id="nav">
        <ul>
        <li><a class="lnk" href="{% url 'vwProdutos' %}" target="_parent">Produtos</a></li>
        <li><a class="lnk" href="{% url 'vwEntrada' %}" target="_parent">Entrada</a></li>
        <li><a class="lnk" href="{% url 'vwSaida' %}" target="iframe">Saída</a></li>
        <li><a class="lnk" href="{% url 'vwEstoque' %}" target="_parent">Estoque</a></li>
      </ul>
      </div>
      <div id="cont">
        <!--<iframe src="{% url 'vwProdutos' %}" height="415" width="1020" name="iframe"></iframe>-->
      {% block content %}
      {% endblock %}


      </div>
       
    </div>
         
  </div>

</body>
<script>menu()</script>
</html>
