<!DOCTYPE html>
<html>
{% extends 'controle/index.html' %}
{% load static %}

<head>
<title>Produtos</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="estoque.js"></script>
</head>
{% block content %}
<body>
      <div id="tbl">
        <div class="buttonBar">

        <a href="{% url 'produtosAdd' %}">Novo Produto</a>
        </div>
        <table id="grid">
          <th>Código</th>
          <th>Descrição</th>
          <th>Entradas</th>
          <th>Saidas</th>
          <th>Balanço</th>
          <th>Custo</th>
          <th>Custo Estimado</th>
          <th>Preço</th>
          <th>Venda Esperada</th>
          <th>Editar</th>
          <th>Apagar</th>
          {% for estoque in estoque %}
           <tr>
             <td>
               {{estoque.produto.id}}
             </td>
             <td>
               {{estoque.produto.descricao}}
             </td>
             <td>
               {{entradas}}
             </td>
             <td>
               {{saidas}}
             </td>
             <td>
               {{balanco}}
             </td>
             <td>
               {{estoque.produto.custo}}
             </td>
             <td>
               {{custo_estimado}}
             </td>
             <td>
               {{estoque.produto.preco}}
             </td>
             <td>
               {{venda_esperada}}
             </td>
             <td>
               <a href="{% url 'produtosEdit' estoque.produto.id %}">Editar</a>
             </td>
             <td>
               <a href="">Apagar</a>
             </td>
           </tr>

          {% endfor %}
        </table>


      </div>
</body>
{% endblock %}
</html>