<!DOCTYPE html>
<html>
{% extends 'controle/index.html' %}
{% load static %}

<head>
<title>Produtos</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="estoque.js"></script>
</head>
{% block content %}
<body>

      <div id="tbl">
        <div class="buttonBar">

        <a href="{% url 'produtosAdd' %}">Novo Produto</a>
        </div>
        <table id="grid">
          <th>Código</th>
          <th>Descrição</th>
          <th>Custo</th>
          <th>Preço</th>
          <th>Editar</th>
          <th>Apagar</th>
          {% for prod in produtos %}
           <tr>
             <td>
               {{prod.id}}
             </td>
             <td>
               {{prod.descricao}}
             </td>
             <td>
               {{prod.custo}}
             </td>
             <td>
               {{prod.preco}}
             </td>
             <td>
               <a href="{% url 'produtosEdit' prod.id %}">Editar</a>
             </td>
             <td>
               <a href="{% url 'produtosDel' prod.id %}">Apagar</a>
             </td>
           </tr>

          {% endfor %}
        </table>


      </div>
</body>
<script>menu()</script>
{% endblock %}
</html>