<!DOCTYPE html>
<html>
{% extends 'controle/index.html' %}
{% load static %}

<head>
<title>Produtos</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="{% static 'javascript/estoque.js' %}" ></script>

</head>
{% block content %}
<body>

      <div id="tbl">
        <div class="buttonBar">

        <a href="{% url 'nova_saida' %}">Nova Saida</a>
        </div>
        <table id="grid">
          <th>Descrição</th>
          <th>Quantidade</th>
          <th>Data</th>
          <th>Editar</th>
          <th>Apagar</th>
          {% for saidas in saidas %}
           <tr>

             <td>
               {{saidas.descricao}}
             </td>
             <td>
               {{saidas.quantidade}}
             </td>
             <td>
               {{saidas.data}}
             </td>
             <td>
               <a href="{% url 'saidaEdit' saidas.id %}">Editar</a>
             </td>
             <td>
               <a href="{% url 'saida_del' saidas.id %}">Apagar</a>
             </td>
           </tr>

          {% endfor %}
        </table>
      </div>
</body>

{% endblock %}
</html>