<!DOCTYPE html>
<html>
{% extends 'controle/index.html' %}
{% load static %}

<head>
<title>Produtos</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="{% static 'javascript/estoque.js' %}" ></script>

</head>
{% block content %}
<body>
        <table id="grid">
          <th>Descrição</th>
          <th>Quantidade</th>
          <th>Data</th>
          <th>Editar</th>
          <th>Apagar</th>
          {% for post in post %}
           <tr>

             <td>
               {{post.descricao}}
             </td>
             <td>
               {{post.quantidade}}
             </td>
             <td>
               {{post.data}}
             </td>
             <td>
               <a href="{% url 'entradaEdit' post.id %}">Editar</a>
             </td>
             <td>
               <a href="{% url 'entradaDel' post.id %}">Apagar</a>
             </td>
           </tr>
          {% endfor %}
</body>

{% endblock %}
</html>